anthropic
langchain
langchain-community
snowflake-connector-python
python-dotenv
pypdf
openai
chromadb
tiktoken
xgboost
scikit-learn
imbalanced-learn
flask
streamlit
pandas
numpy
sentence-transformers
requests
